.btn {
  display: flex;
  transition-duration: 0.4s;
  padding: 13px 15px;
  background-color: #407ff5;
  border: solid white 1px;
  border-radius: 6px;
  margin: 5px;
  display: inline;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}
.btn:active {
  transform: translateY(6px);
}


.disableBtn {
  margin: 5px;
  color: black;
  background-color: #fff;
  border: 2px solid #407ff5;
  border-radius: 4px;
  height: 2.5rem;
  width: 5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.disableBtn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}

.linkBtn {
  margin: 5px;
  color: black;
  background-color: #fff;
  border: solid green 2px;
  border-radius: 5px;
  height: 2.5rem;
  width: 5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.linkBtn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}

.learn-more-Btn {
  width: 6rem;
  height: 2.5rem;
  margin: 5px;
  font-weight: bold;
  background-color: white;
  border: solid black 2px;
  border-radius: 3px;
  font-size: 2vh;
  cursor: pointer;
}
.learn-more-Btn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}

.previewBtn {
  width: 6rem;
  height: 2.5rem;
  margin: 5px;
  font-weight: bold;
  background-color: white;
  border: solid #bd2727 2px;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
}
.previewBtn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}

.likeBtn {
  margin: 5px;
  color: black;
  background-color: #fff;
  border: solid #6cca6c 2px;
  border-radius: 8px;
  height: 2.5rem;
  width: 5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.likeBtn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}
.enableBtn {
  margin: 5px;
  color: black;
  background-color: azure;
  border: solid white 2px;
  border-radius: 6px;
  height: 2.5rem;
  width: 5rem;
  font-size: 1rem;
  cursor: pointer;
}
.enableBtn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}
.closeBtn {
  margin: 5px;
  color: black;
  background-color: hsl(72, 100%, 97%);
  border: solid white 2px;
  border-radius: 6px;
  height: 2.5rem;
  width: 5rem;
  font-size: 1rem;
  cursor: pointer;
}
.closeBtn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}
.publicBtn {
  margin: 5px;
  color: black;
  background-color: rgb(240, 243, 228);
  border: solid white 2px;
  border-radius: 6px;
  height: 2.5rem;
  width: 5rem;
  font-size: 1rem;
  cursor: pointer;
}
.publicBtn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}
.read-more-btn {
  margin: 5px;
  color: black;
  background-color: papayawhip;
  border: solid white 2px;
  border-radius: 6px;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.read-more-btn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}
.save-draft-btn {
  margin: 5px;
  color: black;
  background-color: hsl(138, 100%, 80%);
  border: solid white 2px;
  border-radius: 6px;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.save-draft-btn:active {
  transform: translateY(2px);
  background-color: aliceblue;
}
.liveBtn {
  margin: 5px;
  color: white;
  background-color: #407ff5;
  border: solid white 2px;
  border-radius: 6px;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  border: #6cca6c 2px;
  cursor: pointer;
  box-shadow: #358bd6 2px;

}
.liveBtn:active {
  transform: translateY(2px);
  background-color: #407ff5;
}
.cancelBtn {
  margin: 5px;
  color: white;
  background-color: #407ff5;
  border: solid white 2px;
  border-radius: 6px;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  border: #407ff5 2px;
  box-shadow: 7px 10px 28px #407ff5;
font-weight: solid;
cursor: pointer;
}
.cancelBtn:active {
  transform: translateY(2px);
  background-color: #407ff5;
}
.saveBtn {
  margin: 5px;
  color: black;
  background-color: #407ff5;
  border: solid white 2px;
  border-radius: 6px;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  border: #407ff5 2px;
  box-shadow: 7px 8px 20px #407ff5;
font-weight: solid;
color: white;
cursor: pointer;
}
.saveBtn:active {
  transform: translateY(2px);
  background-color: #358bd6;
}
.clickBtn {
  margin: 5px;
  color: white;
  background-color: #407ff5;
  border: solid white 2px;
  border-radius: 6px;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  border:  #407ff5 2px;
  box-shadow: 7px 10px 28px #407ff5;
font-weight: solid;
cursor: pointer;
}
.clickBtn:active {
  transform: translateY(2px);
  background-color: #407ff5;
}
.sendBtn {
  margin: 5px;
  color:  white;
  background-color: #407ff5;
  border: solid  #407ff5 2px;
  border-radius: 6px;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  border: #407ff5 2px;
  box-shadow: 7px 10px 28px #407ff5;
font-weight: solid;
cursor: pointer;
}
.sendBtn:active {
  transform: translateY(2px);
  background-color: #407ff5;
}
.sendBtn-wrapper{
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 6px 19px;
  border-radius: 6px;
  border: solid white;
  background-color: #407ff5;
  
}
.sendBtn-wrapper:active {
  transform: translateY(2px);
  background-color: #407ff5;
}
.sendBtnIcon{
  color: white;
  font-weight: bold;
  text-align: center;
}
.addCallBtn-wrapper{
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 6px 19px;
  border-radius: 6px;
  border: solid white;
  background-color:#407ff5;
}
.addCall-IconBtn{
  color: white;
  font-weight: bold;
}
.addCallBtn-wrapper:active{
  transform: translateY(2px);
  background-color: hsl(197, 87%, 42%);
}
.deleteBtn-wrapper{
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 8px 22px;
  border-radius: 6px;
  border: solid white;
  background-color: whitesmoke;
}
.deleteBtn-Icon{
  font-weight: bold;
  font-size: 1rem;
}
.deleteBtn-wrapper:active{
  transform: translateY(2px);
  background-color: hwb(195 78% 19%);
}
.saveBtn-wrapper{
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 8px 21px;
  border-radius: 6px;
  border: solid white;
  background-color: whitesmoke;
  font-weight:bolder;
  font-size: xx-large;
}
.saveBtn-Icon{
 
  color: #407ff5;
}
.saveBtn-wrapper:active{
  transform: translateY(2px);
  background-color: hwb(195 78% 19%);
}
.editBtn-wrapper{
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 8px 21px;
  border-radius: 6px;
  border: solid white;
  background-color: whitesmoke;
}
.editBtn-wrapper:active{
  transform: translateY(2px);
  background-color: hwb(195 78% 19%);
}
.iconBtn-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

