.cafeNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #76f820;
    padding: 1rem;
    margin: 0rem;
    border-radius: 1rem 1rem  0rem  0rem;
}
.cafe-links-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: centers;
    list-style-type: none;
}
.cafe-links{
    display: inline;
    padding: 2rem;
    text-decoration: none;
    font-size: large;
    color: black;
}
img{
    width: 100%;
}
span{
    color: orangered;
}
.cafeNavbar-and-img-wrapper{
    width: 90%;
    height: 90%;
    align-items: center;
    padding: 0 2rem;
    border-radius: 1rem;
    margin: 2rem;
}