.cafeNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #407ff5;
    padding: .3rem;
    border-radius: 1rem 1rem  0rem  0rem;
    width: 90%;
    margin: 4rem;
}
.cafe-links-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: centers;
    list-style-type: none;
}
.cafe-links{
    display: inline;
    padding: 1rem;
    text-decoration: none;
    font-size: large;
    color: white;
}
span{
    color: white;
    padding: 1rem;
}
.guftagu-logo{
    margin: 1rem;
}
