
.elevated-btn {
    color: white;
    background-color: #407ff5;
    border: solid white 2px;
    border-radius: 6px;
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: #358bd6 2px;
  
  }
  .elevated-btn:active {
    transform: translateY(2px);
    background-color: #407ff5;
  }