*{
    box-sizing: border-box;
}
.layout-footer-wrapper{
    flex-basis: 70px;
 background-color: aqua;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;

}
.layout-footer-links{
    font-size: large;
    color: black;
    text-decoration: none;
    padding: 7px 0;
}