.text-input{
    transition-duration: 0.4s;
    background-color: hsl(160, 27%, 94%);
    padding: 6px 30px;
    border-radius: 7px;
    font-size: large;
    color: black;
    border: solid whitesmoke 1px;
    box-shadow: 4px 3px 4px darkgrey;
}
.password-input{
    transition-duration: 0.4s;
    background-color: hsl(160, 27%, 94%);
    padding: 6px 30px;
    border-radius: 7px;
    font-size: large;
    color: black;
    border: solid whitesmoke 1px;
    box-shadow: 4px 3px 4px darkgrey;
}
.date-input{
    transition-duration: 0.4s;
    background-color: hsl(160, 27%, 94%);
    padding: 6px 30px;
    border-radius: 7px;
    font-size: large;
    color: black;
    border: solid whitesmoke 1px;
    box-shadow: 4px 3px 4px darkgrey;
}