
.layout-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.layout-body{
    display: flex;
    flex-grow: 1;
    
}

@media (min-width: 1000px){
    .navigation-btn-container{
        display: none;
    }
    .layout-content{
        padding-left: 2rem;
    }
   
}
.layout-content{
    width: fit-content;
}


