.mrf-header{
    margin: 4rem;
   background-color: #407ff5;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.mrf-links-wrapper{
    display: flex;
    align-items: center;
}
.mrfNavbar-links{
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
    color: white
}
.mrf-logo{
    font-weight: bold;
    color: black;
    font-size: xx-larger;
    padding: 1rem;
}