
.outline-Btn {
    margin: 5px;
    color: black;
    background-color: #fff;
    border: 2px solid #407ff5;
    border-radius: 4px;
    height: 2.5rem;
    width: 5rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .outline-Btn:active {
    transform: translateY(2px);
    background-color: aliceblue;
  }
  
  