.dates-img {
  display: flex;
  width: 300px;
  height: 60%;
}
.rating-dates-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #8fcc4a;
  align-items: center;
  gap: 2rem;
  box-shadow: 2px 2px 10px 2px #cfcfd1;
  padding-bottom: 1rem;
}
.star-icon {
  color: black;
  font-size: larger;
  cursor: pointer;
  padding: 0 6px;
  width: 30px;
}
.rating-submit-btn {
  padding: 5px 12px;
  border-radius: 0.6rem;
  background-color: hsl(0, 0%, 79%);
  border: solid white 1px;
}
.rating-submit-btn:hover {
  background-color: skyblue;
  color: black;
  border: solid black 1px;
  border-radius: 0.6rem;
  transition: 1s;
  cursor: pointer;
}
@media (max-width: 600px) {
  .rating-main-wrapper {
    padding: 1rem;
  }
}
.iframe-wrapper-rating {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
