.dates-img {
    display: flex;
    width: 300px;
    height: 60%;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
}
.rating-container{
    display: flex;
    list-style: none;
    padding:  1rem 1rem;
    align-items: center;

}
.rating-dates-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60%;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.star-list{
    border: solid white 1px;
    background-color: aliceblue;
    font-size: x-large;
    border-radius: 50%;
}
.star-icon:active{
    background-color: #fd4;
}