.react-navbar-header{
  background-color: #407ff5;
  display: flex;
  justify-content: space-between;
  border-radius: .6rem;
  padding:  .5rem;
  margin: 4rem;
  align-items: center;
}
.react-link-wrapper{
  display: flex;
  justify-content: center;
 
}
.reactNavbar-links{
  font-size: large;
  color: white;
  text-decoration: none;
  margin: 0 2px;
}
.react-logo{
  font-size: xx-large;
}