.react-navbar-header{
  background-color: #e4eee4;
  display: flex;
  justify-content: space-between;
  border-radius: .6rem;
  padding:  2rem;
  margin: 4rem;
}
.react-link-wrapper{
  display: flex;
  justify-content: center;
 
}
.reactNavbar-links{
  font-size: large;
  color: black;
  text-decoration: none;
  margin: 0 2px;
}