.resturantNavbar-header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
   
}
.tea-icon{
    color: black;
    font-size: 2.5rem;
    align-items: center;
}

.link-wrapper{
    display: flex;
    align-items: center;
    font-size: larger;

}

.resturatNavbar-links{
    text-decoration: none;
    padding: 2rem;
    color: black;
    align-items: center;
    
}
