.tea-Navbar-header{
    display: flex;
    justify-content: space-between;
    background-color: #407ff5;
    padding: .5rem;
    margin: 2rem;
    border-radius: 1rem;
   
}
.tea-icon{
    color: black;
    font-size: 2.5rem;
    align-items: center;
    padding: 1rem;
}

.tea-link-wrapper{
    display: flex;
    align-items: center;
    font-size: larger;

}

.teaNavbar-links{
    text-decoration: none;
    padding: 2rem;
    color: white;
    align-items: center;
    
}
