.layout-sidebar-wrapper{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    border-right: 3px solid whitesmoke;
}
.layout-sidebar-links{
    font-size: large;
    color: black;
    text-decoration: none;
    padding: 7px 0;
}
.layout-sidebar-links:hover{
    background-color: antiquewhite;
}
@media  (max-width: 600px){
    .layout-sidebar-wrapper{
        display: none;
    }
}