.sidebar-wrapper{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    border-right: 3px solid whitesmoke;
}
.sidebar-links{
    font-size: larger;
    color: black;
    text-decoration: none;
    padding: 7px 2rem 0;


}
.sidebar-links:hover{
    background-color: antiquewhite;
}
@media  (max-width: 600px){
    .sidebar-wrapper{
        display: none;
    }
}