.tata-navbar-header{
    background-color: #407ff5;
    padding: .2rem;
    margin: 4rem;
  border-radius: 1rem;
}
.tata-main-Links{
    display: inline;
    color: aliceblue;
    padding: 0 2rem 0.5rem;
    text-decoration: none;
    font-size: large;
    

}
.tata-links-wrapper{
    display: flex;
    justify-content: left;
    padding-left: 7rem;
    
}
.tata-logo{
    color: aliceblue;
    font-size: x-large;
    font-weight:bolder;
    margin-top: 1rem;
    text-decoration: none;

}
.tata-logo-header{
    display: flex;
    justify-content: left;
    padding: 0 2rem ;
    padding-top: 1rem;
}