.txtBtn {
    margin: 5px;
    color: black;
    background-color: azure;
    border: solid white 2px;
    border-radius: 6px;
    height: 2.5rem;
    width: 5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .txtBtn:active {
    transform: translateY(2px);
    background-color: aliceblue;
  }
  